@model WebColumnas.Models.Analisis

@using (Html.BeginForm())
{
    <h2>Agregar Análisis</h2>
    @Html.HiddenFor(model => model.LoteId)
    <div>
        @Html.LabelFor(model => model.Ph)
        @Html.TextBoxFor(model => model.Ph)
    </div>
    <button type="submit">Guardar</button>
}