@model List<WebColumnas.Models.Lote>
@{
    ViewData["Title"] = "Elegir lote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Elegir Lote</h1>

<hr />

<form asp-action="ElegirLote" methid="post">
    <div class="input-group mb-4">
        <select class="form-select form-control" name="IdLote" asp-items="@(new SelectList(Model, "LoteID", "LoteID"))">
            <option value="">Seleccione un lote</option>
        </select>
        <button class="btn btn-outline-secondary" type="submit">Continuar</button>
    </div>
</form>